@import "main";

.tag-list{
    display: flex;
    flex-direction: row;
}

.tag__item {
    border: 1px solid black;
    // border-radius: 25px;
    background-color: $dark-yellow;
    padding: .5em;
    font-family: cursive;
    font-weight: 600;
}

.tag__icon{
    color: $white;
}

